{% extends "base_generic.html" %}

{% block content %}
  <h1>My Boardgames Collection</h1>
  <p>Welcome to MyBoardgames, a website developed by <em>Eimantas Nejus</em>!</p>
  <h2>Some Stats</h2>
  <p>My Boardgames Collection has the following record counts:</p>
  <ul>
    <li><strong>Boardgames:</strong> {{ num_books }}</li>
    <li><strong>Playthrougs:</strong> {{ num_instances }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
  </ul>
{% endblock %}